@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

* {
  font-family: 'Noto Sans TC', MHeiHK, '微軟正黑體' !important;
}

.header {
  background-color:#3f51b5;
  padding: 0.5em;
  color: #fff;
}

.header a {
  color: #fff;
}

.header h1 {
  margin-left: 2em;
}

.app:after {
  content: "";
  clear: both;
}

.app {
  height: 100%;
  width: 100%;
  display: table;
}

.menu {
  padding: 1em;
  float:left;
  height:100%;
  width: 20%;
  min-width:10em;
  background-color:#21252B;
}

.menu a{
  color: #fff;
}

.menu .select_container {
  color: #fff;
}

.menu .select_container select{
  font-size: 0.75em;
  padding: 0.25em;
}



.list {
  height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
